[LIB]

avg_ins=220

reverse_seq=0

asm_flags=3

rank=1

q1=/home/ellasj/genome_analysis/Genomeanalysis-Batwings/data/trimmed_data/sel3_SRR5819794.trim_1P.fastq.gz
q2=/home/ellasj/genome_analysis/Genomeanalysis-Batwings/data/trimmed_data/sel3_SRR5819794.trim_1U.fastq.gz
q3=/home/ellasj/genome_analysis/Genomeanalysis-Batwings/data/trimmed_data/sel3_SRR5819794.trim_2P.fastq.gz
q4=/home/ellasj/genome_analysis/Genomeanalysis-Batwings/data/trimmed_data/sel3_SRR5819794.trim_2U.fastq.gz
q5=/home/ellasj/genome_analysis/Genomeanalysis-Batwings/data/trimmed_data/sel3_SRR5819795.trim_1P.fastq.gz
q6=/home/ellasj/genome_analysis/Genomeanalysis-Batwings/data/trimmed_data/sel3_SRR5819795.trim_1U.fastq.gz
q7=/home/ellasj/genome_analysis/Genomeanalysis-Batwings/data/trimmed_data/sel3_SRR5819795.trim_2P.fastq.gz
q8=/home/ellasj/genome_analysis/Genomeanalysis-Batwings/data/trimmed_data/sel3_SRR5819795.trim_2U.fastq.gz
q9=/home/ellasj/genome_analysis/Genomeanalysis-Batwings/data/trimmed_data/sel3_SRR5819796.trim_1P.fastq.gz
q10=/home/ellasj/genome_analysis/Genomeanalysis-Batwings/data/trimmed_data/sel3_SRR5819796.trim_1U.fastq.gz
q11=/home/ellasj/genome_analysis/Genomeanalysis-Batwings/data/trimmed_data/sel3_SRR5819796.trim_2P.fastq.gz
q12=/home/ellasj/genome_analysis/Genomeanalysis-Batwings/data/trimmed_data/sel3_SRR5819796.trim_2U.fastq.gz
q13=/home/ellasj/genome_analysis/Genomeanalysis-Batwings/data/trimmed_data/sel3_SRR5819797.trim_1P.fastq.gz
q14=/home/ellasj/genome_analysis/Genomeanalysis-Batwings/data/trimmed_data/sel3_SRR5819797.trim_1U.fastq.gz
q15=/home/ellasj/genome_analysis/Genomeanalysis-Batwings/data/trimmed_data/sel3_SRR5819797.trim_2P.fastq.gz
q16=/home/ellasj/genome_analysis/Genomeanalysis-Batwings/data/trimmed_data/sel3_SRR5819797.trim_2U.fastq.gz
q17=/home/ellasj/genome_analysis/Genomeanalysis-Batwings/data/trimmed_data/sel3_SRR5819798.trim_1P.fastq.gz
q18=/home/ellasj/genome_analysis/Genomeanalysis-Batwings/data/trimmed_data/sel3_SRR5819798.trim_1U.fastq.gz
q19=/home/ellasj/genome_analysis/Genomeanalysis-Batwings/data/trimmed_data/sel3_SRR5819798.trim_2P.fastq.gz
q20=/home/ellasj/genome_analysis/Genomeanalysis-Batwings/data/trimmed_data/sel3_SRR5819798.trim_2U.fastq.gz
q21=/home/ellasj/genome_analysis/Genomeanalysis-Batwings/data/trimmed_data/sel3_SRR5819799.trim_1P.fastq.gz
q22=/home/ellasj/genome_analysis/Genomeanalysis-Batwings/data/trimmed_data/sel3_SRR5819799.trim_1U.fastq.gz
q23=/home/ellasj/genome_analysis/Genomeanalysis-Batwings/data/trimmed_data/sel3_SRR5819799.trim_2P.fastq.gz
q24=/home/ellasj/genome_analysis/Genomeanalysis-Batwings/data/trimmed_data/sel3_SRR5819799.trim_2U.fastq.gz


